body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	color: #00414d;
	}
	
a {
	text-decoration:none;
	color: white;
	
	}

a:hover {
 background-color: #0097e7;
}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
	
span {
	color: white;
	font-size:1em;
}
		
h1{
	font-size:2 em;
	text-transform:uppercase;
	color: white;
	}
	
h2{
	font-size:1.2em;
	font-weight: bold;
	color: #ffffff;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: #3b4358;
}
	
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}

.description {
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}
	
#sources {
	margin-top:50px;
	font-size:0.8em;
	}

.Tooltips {
	font-size:1.1em;
	padding:5px;
	border:none;
	background-color: white;
	}
	

.bas {
	margin-top:50px;
}


		
	/*Affichage des onglets*/	
		
#popup {
	display: none;
	}
	
#defaut {
	display: block;
	}
	
.onglets{
	background-color: #3b4358;
}


.onglets:hover {
	color: #ffffff;
	background-color: #0097e7;
}

.onglets_on a{
	background-color: #f26664;
	border : 0.1px solid #5a6687;
}



/*Style du tableau*/
	
.divTable{
	display: table;
	
}


.divTableRow {
	display: table-row;	
}

.divTableCell, .divTableHead {
	border: 0.1px solid #de9e9d;
	vertical-align:middle;
	padding: 7px 8px;
}

.divTableBody {
	display: table-row-group;
}

.chiffre{
	font-size:1.5em;
	font-weight: bold;
	color:#f26664;
}

.ptichiffre{
	font-size:0.8em;
	font-weight: bold;
	color:#f26664;
}


